[2017-02-14 22:49] sims1253 opened #1 "Add coala README"
I'd like to add the coala README to this :)
https://github.com/coala/coala/blob/master/README.rst

[2017-02-15 09:46] LappleApple commented on #1
Hey @sims1253, thanks for submitting this. I've made a tweet to spread the word — you might share it: https://twitter.com/LauritaApplez/status/831801232863932416.

[2017-02-21 12:18] sils opened #2 "dollars"
Would love to get some feedback on https://github.com/aerupt/dollars/blob/master/README.rst as well. Tried to keep it minimal.

[2017-03-25 18:58] LappleApple commented on #1
Just sent you a PR for this. :)

[2017-03-25 18:58] #1 closed

[2017-04-02 20:55] reconbot opened #3 "Node Serialport"
Node Serialport is a widely used nodejs serialport library. I have users from all languages and countries, a lot of people new to javascript development and software development as a whole. To make it even more interesting we have at least 3 versions of serialport in wide use and the very old ones have a lot of bugs.

I have a few goals;
- Making sure non english speakers can approach the document

[2017-04-29 08:56] LappleApple commented on #2
Done! https://github.com/aerupt/dollars/pull/1

Thanks again for your submission. :)

[2017-04-29 08:56] #2 closed

[2017-04-30 12:29] LappleApple commented on #3
Hey @reconbot, I'd edit this if I could skip over all the jsdoc stuff and do a simple fork-and-PR.

[2017-05-01 10:43] LappleApple commented on #3
I just want to edit in the browser

[2017-05-03 11:55] LappleApple commented on #3
That could work, @reconbot. I'll fork your repo, create an edited version of the README and then you can copy/paste the text into your README.md. Does that sound OK?

[2017-05-24 09:28] LappleApple commented on #3
Hey @reconbot, I've been busy flying around and traveling, but now that's over and I'll get to this by the weekend. Look for a PR from me. :)

[2017-05-26 15:26] technosophos opened #4 "Sprig Template Function Library"
I was so excited to see your project! What a fabulous idea. I would be interested in some feedback on the Sprig project's README.

https://github.com/Masterminds/sprig/blob/master/README.md

Thank you!

[2017-05-26 15:28] LappleApple commented on #4
Thanks, @technosophos. I have one project in line before this one, but will get to it ASAP. cc @Ingmar84

[2017-05-29 17:37] LappleApple commented on #3
@reconbot: I started editing. Everything above the TOC:
https://github.com/LappleApple/node-serialport

I also moved the License section to the bottom and added the text. Will continue ...

[2017-05-30 08:28] LappleApple commented on #3
@reconbot: I started editing. Everything above the TOC:
https://github.com/LappleApple/node-serialport

I also moved the License section to the bottom and added the text. Will continue ...

[2017-06-01 13:50] jvallera commented on #4
Great! Here is the project on Pulse: https://www.mozillapulse.org/entry/339
Thanks!

[2017-06-01 14:12] LappleApple commented on #4
Thank you so much for your efforts, @jvallera. :)

[2017-06-01 15:13] LappleApple commented on #3
Thanks, @reconbot. I'll continue where I left off and finish. :)

[2017-06-02 20:22] LappleApple commented on #3
@reconbot Is this line under the Alpine Linux section missing the end?

_# If you're installing as root, you'll need to use_

[2017-06-03 20:46] LappleApple opened #6 "kube-ops-view"
https://github.com/hjacobs/kube-ops-view

requested by @hjacobs

[2017-06-07 11:42] LappleApple opened #7 "Mockito"
cc @szczepiq, adding it to my queue.

[2017-06-08 19:26] LappleApple commented on #4
Hey @technosophos, took a look and pulled a request :)

[2017-06-13 12:05] LappleApple commented on #3
@reconbot Hi: I made a PR to let you know I'm ready for you to take over with the copy/pasting. :)

[2017-06-13 12:05] #3 closed

[2017-06-13 12:48] #4 closed

[2017-06-14 00:50] technosophos commented on #4
Thanks!

[2017-06-29 08:19] notklaatu opened #8 "trashy"
Saw your article on opensource.com

It's not on Github, but Gitlab accepts Github logins:
https://gitlab.com/trashy/trashy

[2017-06-29 23:48] romeara opened #9 "StarChart-Labs/flare-operations-plugins"
I'd love some feedback on how to keep the documentation more clear and concise!

https://github.com/StarChart-Labs/flare-operations-plugins

Submitted by @romeara

[2017-06-30 06:23] mkjsix opened #10 "RESTHeart"
https://github.com/SoftInstigate/restheart

We'd love to read your feedback!

[2017-06-30 12:31] xemul opened #11 "criu"
Hello,

It would be nice to get your feedback on https://github.com/xemul/criu

Thanks!
-- Pavel

[2017-06-30 20:41] LappleApple commented on #6
https://github.com/hjacobs/kube-ops-view/issues/81#issuecomment-312049348

[2017-06-30 20:43] LappleApple commented on #6
@Ingmar84 Hey Ingmar, want to give your ex-colleague Henning's project a look, using your product-expert eyes?

[2017-07-07 07:29] MaineC opened #12 "Apache Mahout README.md review"
Hi,

first of all, thanks for this initiative! I think explicitly getting feedback on project documentation is an awesome idea.

As for the actual help request: It would be lovely to get feedback for the following readme:

https://github.com/apache/mahout/blob/master/README.md

Please note that while I'm part of the group of committers listed for this project, me posting this issue here is my pers

[2017-07-07 17:48] LappleApple commented on #12
Thanks, @MaineC! Will get to this ASAP.

[2017-07-07 17:48] LappleApple commented on #11
@xemul Thank you for the submission. Will get to it ASAP.

[2017-07-07 17:49] LappleApple commented on #10
Thanks, @mkjsix! Will get to this ASAP.

[2017-07-07 17:49] LappleApple commented on #9
Thanks, @romeara! Will get to this ASAP.

[2017-07-07 17:49] LappleApple commented on #8
Thanks!

[2017-07-07 18:41] LappleApple commented on #9
@lhotari Do you want to take a look at these Gradle plugins?

[2017-07-08 14:10] shaloo commented on #12
@LappleApple : Kudos for this initiative.  I don't fully understand the steps to chip in here - hence using comment route for now. Not sure if it is ok to modify this readme on GitHub?

For Mahout Readme:
1. It would be nice to include the following from the project web page about Mahout high level features.

Apache Mahout software provides three major features:
* A simple and extensible programmi

[2017-07-10 07:12] LappleApple commented on #12
@shaloo This is great! Usually I just go right into the README file after reading the contributing guidelines, make changes, and make a PR. But it's good that you're being a little cautious here. Will wait for @MaineC to respond, but meantime thank you and it's exciting to have you here.

[2017-07-10 08:03] MaineC commented on #12
@shaloo The actions @LappleApple describe are pretty much what I would do as a new contributor to Apache Mahout as well.

I'm not a new person working on Mahout, so consider me blind for newcomer issues. Please point out any documentation either in the README itself or on your way to a successful contribution that slows you down.

At the bottom of the README there's a link to this: https://mahout.

[2017-07-10 08:04] MaineC commented on #12
One more thing: If any of my bubbling above is at all helpful but missing from the docs, point that out as well.

[2017-07-10 14:17] TheLarkInn opened #13 "Requests for Main/Writers for Webpack"
Hello Lauri!!! Our open source e project webpack has an extensive need for those who would like to help us review or write for our documentation page!!

Here is the issue you mentioned I should add to this issue tracker!!! https://github.com/webpack/webpack.js.org/issues/1380

[2017-07-10 14:20] LappleApple commented on #13
@TheLarkInn Thanks, Sean! Hoping we find you some help ASAP.

[2017-07-10 14:37] shaloo commented on #12
@LappleApple:  @MaineC:
Thanks for these inputs,  I did take a look at all these links.  Haven't yet absorbed all the data in archives but tried to search Mahout Jira to figure out the acceptable way to update README (via prior updates). Not much luck there yet.  What I wanted to know is:  For a minor change in README such as say 'spark' to 'Spark', do I need to do a full fork->change->run-all-mah

[2017-07-10 15:18] MaineC commented on #12
It's probably easiest to point that out on the Dev mailing list.

As an aside, I'm surprised this is really the only issue there is...

Am 10.07.2017 4:37 nachm. schrieb "Shaloo Shalini" <notifications@github.com

[2017-07-10 20:14] fokusferit commented on #13
@TheLarkInn I would like to help you guys with webpack and documenting parts, reviewing it. I'll also try to get one or two other developers :)

Will check out your Issues list.

[2017-07-11 09:47] Luthaf opened #14 "Chemfiles readme"
Hi !

Thank you very much for proposing this, it will be very useful to the whole open-source world.

Could you give a look at the readme of the chemfiles library: https://github.com/chemfiles/chemfiles?

The project intended audience is scientists who are not necessary developers, put are putting together small scripts/programs for research. I'm not telling more, I hope the README can explain the

[2017-07-11 16:59] LappleApple opened #15 "erlang_postmarkapp review request"
https://github.com/emmanix2002/erlang_postmarkapp/blob/master/README.md

Hi @emmanix2002, here's where I've added your project. Thanks for submitting it!

[2017-07-11 17:27] LappleApple opened #16 "Add page for README/docs inspiration"
With links:
- http://www.ybrikman.com/writing/2014/05/05/you-are-what-you-document/
- https://www.hanselman.com/blog/BringKindnessBackToOpenSource.aspx
- How to Write Documentation for People that Don't Read: https://www.youtube.com/watch?v=sQP_hUNCrcE
- http://hilton.org.uk/presentations/documentation
- http://codewerdz.org/
- https://insights.hpe.com/articles/how-to-write-documentation-thats-act

[2017-07-11 19:30] emmanix2002 commented on #15
Thanks @lappleApple :)

[2017-07-12 04:29] shaloo commented on #12
Yes, there are others as well.  I'll put all those together in one shot and submit to dev mailing list. Thanks.

[2017-07-13 14:47] LappleApple commented on #10
Hi @mkjsix, just made a PR: https://github.com/SoftInstigate/restheart/pull/227. Thanks again!

[2017-07-13 14:47] #10 closed

[2017-07-13 14:54] LappleApple commented on #12
@shaloo Thank you again for being here. :)

[2017-07-14 12:42] amedee opened #17 "iText 7 readme review"
Feel free to have a go at the `README.md` (and other `.md` files) of iText:

https://github.com/itext/itext7

Some of the files have a very long history, which isn't reflected by the Git history, because they used to be `.txt` files. Also, we used SVN in prehistoric times, see https://sourceforge.net/p/itext/code/HEAD/tree/trunk/itext/ (scheduled to be deleted)

[2017-07-14 13:18] LappleApple commented on #14
Thanks, @Luthaf! Will look at it ASAP.

[2017-07-14 13:18] LappleApple commented on #17
Thank you, @amedee. Will take a look ASAP!

[2017-07-14 19:07] LappleApple commented on #8
@notklaatu Well, I've tried to edit your README but keep getting a 500 error from GitLab ... any suggestions?

[2017-07-17 08:53] shaloo commented on #12
@MaineC , @LappleApple :  Thank you for your patience.  Here is what I'd like to suggest for Mahout README.  As a matter of fact, some of the well established OSS components could be rewritten using Structured README concept as an example.  Please visit https://github.com/shaloo/structuredreadme.  I plan to send this to dev mailing list as well.  My next steps are to update Mahout README as a Stru

[2017-07-17 09:34] MaineC commented on #12
Feel free to post as a pull request to the project as well.

[2017-07-18 18:17] MALPI opened #18 "Review failsafe-actuator"
Hi Lauri,

I'd be happy to hear what you think about the [README of failsafe-actuator?](https://github.com/zalando-incubator/failsafe-actuator).

Best,

Malte

[2017-07-19 09:17] LappleApple commented on #18
+1 @MALPI, will get to it ASAP

[2017-07-19 09:19] fokusferit commented on #13
@TheLarkInn @LappleApple we had a cool first hangout with Even regarding webpack-cli and we hope to help them webpack-cli team more regarding documentation but also coding 😄

[2017-07-19 09:23] LappleApple commented on #13
Great to hear!

[2017-07-19 09:25] fokusferit commented on #12
@shaloo sorry that I just jump into the discussion as I checked your structuredreadme project it is a nice idea. Just out of curiosity why not doing a PR into here or [Zalando Readme Template](https://github.com/zalando/zalando-howto-open-source/blob/master/READMEtemplate.md) I think bundling the efforts would be much better but these are just my thoughts there is no need 😄  I wanted to point to t

[2017-07-19 12:38] LappleApple commented on #9
Hi @romeara, will you go forward with the templates I shared? I will close this issue out, then if I hear from you with revisions/improvements we can reopen. Thanks!

[2017-07-19 12:38] #9 closed

[2017-07-19 12:50] LappleApple commented on #11
Hi @xemul, here are some suggestions!
- I'm going to assume that a lot of the essentials (mostly identified in this README template: https://github.com/zalando/zalando-howto-open-source/blob/master/READMEtemplate.md )are covered in the CRIU website content. In that case, I'd use the README to point people to specific sections of the CRIU website that they're going to want to access quickly—ie how

[2017-07-19 14:43] LappleApple commented on #14
Hi @Luthaf, just edited your README: https://github.com/chemfiles/chemfiles/pull/88

Thanks for submitting!

[2017-07-20 05:05] shaloo commented on #12
@fokusferit - Thats a great idea!  I'd like to add a few more things to 'Structured Readme'.  I'd like to redo Mahout README as a 'Structured README' and then share it with dev/mailing list.  I'm inspired by @LappleApple too.  Feedmereadme uses a pull model where README creators push reviewable content where community offers inputs.  I'd like to support this via a push model as well - say via stru

[2017-07-20 05:50] shaloo commented on #12
@LappleApple: Can u pls help?  I see 3/7 tasks completed - what did I miss?  I'm using GitHub web interface and tried to use pull_request template.

[2017-07-20 09:39] #14 closed

[2017-07-20 09:39] #11 closed

[2017-07-29 23:47] sgrif opened #20 "Diesel review"
Hey folks,

Thanks in advance for taking the time to look at this. I'm interested in feedback for [Diesel's README](https://github.com/diesel-rs/diesel). We also have a lot of stuff on our website [diesel.rs](https://diesel.rs), so the README Is intentionally a bit light. (Not sure if y'all are interested in reviewing websites as well)

[2017-07-31 04:46] romeara commented on #9
Hi @LappleApple , thanks for the starting templates! I'm sorry it took so long to respond - I was away from a laptop for a couple weeks.

In general, an overall improvement I'd suggest is to reduce the amount of information recommended for the central doc/readme - even in the template, I was getting a little lost. One technique I've seen used is breaking certain pieces out into other files - GitHu

[2017-07-31 14:32] LappleApple commented on #20
Thanks for the submission. Will get to it ASAP. :)

[2017-07-31 14:35] LappleApple commented on #8
Hi; I'll close this issue as it's been a while since my last note.

[2017-07-31 14:35] #8 closed

[2017-07-31 14:35] LappleApple commented on #17
I'll close this for now as it's been a while since hearing back.

[2017-07-31 14:35] #17 closed

[2017-08-13 12:37] #18 closed

[2017-08-17 09:28] MaineC commented on #12
@shaloo Did you have time to work on the MAHOUT readme and share your findings already?

No need to rewrite and polish everything before you come back to the mailing list and propose your idea. Try to follow [Yoniks law of unfinished patches](https://wiki.apache.org/solr/HowToContribute): "A half-baked patch in Jira, with no documentation, no tests and no backwards compatibility is better than no

[2017-08-22 14:31] Daenyth opened #21 "Cockatrice review request"
I'd appreciate a review on cockatrice: https://github.com/cockatrice/cockatrice/

[2017-08-22 19:57] scrthq opened #22 "VaporShell Readme.md Review Request"
## First:

Thank you so much for offering this service! It's pretty fantastic!!

## Second - Here's the GitHub project Readme that I would love some help with:

https://github.com/scrthq/Vaporshell/blob/master/README.md

## Third - Background:

The Readme I have there is mainly a pointer towards the documentation site I build on top of GitHub Pages w/ a custom domain. I've been building VaporShell

[2017-08-28 17:19] LappleApple commented on #21
Thanks for the submission, @Daenyth. Will get to this ASAP!

[2017-08-28 17:23] LappleApple commented on #22
Hi there! I'm going to suggest you copy-paste from your set of docs the nuggets that would inform a brief README—using [this template](https://github.com/zalando/zalando-howto-open-source/blob/master/READMEtemplate.md) or a different one, like [this structured README template](https://github.com/shaloo/structuredreadme). Then I'd be happy to take a look at the file. :)

[2017-08-29 17:41] scrthq commented on #22
Awesome! I'm on it and will reply back once updated!! I appreciate the quick feedback!

[2017-08-29 23:24] jaimebuelta opened #23 "ffind review"
Hey there!

I'm looking for feedback in the [ffind README](https://github.com/jaimebuelta/ffind) page.

Thanks a lot in advance! This is a great initiative

Cheers,
  Jaime

[2017-09-05 07:54] shaloo commented on #12
Hi @MaineC, thanks for the tip, thats a good idea.  Will do so the moment I get a small breather from current schedule, its on my to do list and I have all the good intentions to tackle it over the weekend :-)

[2017-09-13 12:27] #15 closed

[2017-09-13 12:52] LappleApple commented on #16
Done.

[2017-09-13 12:52] #16 closed

[2017-09-13 13:27] LappleApple commented on #13
Hi! Any new developments here? Wondering how things are going.

[2017-09-13 13:28] LappleApple commented on #12
Just saying hello and +1 on your continued collaboration. Read out if you need anything.

[2017-09-13 13:31] #7 closed

[2017-09-13 16:45] TheLarkInn commented on #13
Hi there!!! Sorry just finished a cross-country travel trip so I've been away the past few days. Now that I'm getting settled in I'm happy to follow up and help facilitate anything needed. Thanks for the ping @LappleApple

[2017-09-14 14:57] fokusferit commented on #13
We started a first discussion with some people at Zalando and our current first step is to get more clarity about the project, updating documentation, defining a roadmap for us to work on etc.

I've started a conversation at two issues https://github.com/webpack/webpack-cli/issues/181, https://github.com/webpack/webpack-cli/issues/180 so feel free to give us feedback @TheLarkInn .

I've also start

[2017-09-16 11:46] #20 closed

[2017-09-17 02:19] scrthq commented on #22
Hiya, @LappleApple ! Just released v2.0.1 and made a ton of updates to the README! I think I'm ready now 💃

[2017-09-22 20:01] LappleApple opened #24 "Amazon's oss-dashboard"
https://github.com/amzn/oss-dashboard/issues/101#issuecomment-329385604

[2017-10-04 08:33] LappleApple opened #25 "https://github.com/PharkMillups/beautiful-docs/"

[2017-10-08 16:05] pdurbin opened #26 "Feedback on README for Dataverse"
Hi! I just stumbled upon "maker of @feedmereadmes" at https://twitter.com/LauritaApplez and think it's a great idea to encourage projects to give and receive feedback on READMEs. I'm especially interested in the [README maturity model](https://github.com/LappleApple/feedmereadmes/blob/master/README-maturity-model.md) you've come up with.

From what I understand I'm supposed to create an issue and

[2017-10-11 17:36] LappleApple commented on #26
Thanks for the note, @pdurbin. Will take a look ASAP. :)

[2017-10-20 14:04] jhermann commented on #25
https://github.com/matiassingers/awesome-readme

[2017-10-20 14:18] gunnarmorling opened #27 "Feedback for README.md of MapStruct"
Hi, I just learned about this project/service -- it's a fantastic idea!

If you have the time, we'd love to have your feedback on the README of MapStruct: https://github.com/mapstruct/mapstruct. We spent quite some time on it originally, but since then it has aged a bit and I think there are a few opportunties for improvement. Any thoughts and input on that would be very much appreciated.

[2017-10-20 14:28] jhermann opened #28 "Explain the role of wikis, and use the wiki here"
Opening a project's wiki to any registered user can open a breeding ground / incubator for catching ideas in raw form and polishing them for inclusion into the "official" documentation. It fosters collaboration much more so than the rigid time-line format of an issue thread, and potentially lowers the threshold for new contributors.

Like in this project, where you could have a page to discuss imp

[2017-10-20 15:23] LappleApple commented on #28
Hi @jhermann I'm not sure I follow. Are you proposing ideas for this project, or proposing text to include in this README? FWIW I'm not currently planning on making this project super-ambitious (keeping it simple to the exchange of editing help), so a wiki would be outside of scope for now.

[2017-10-20 16:59] jhermann commented on #28
Both. A README sits centrally in an ecosystem of docs, with the code + tests, the "main" docs, and a wiki being related parts of the overall documentation, each filling a specific role.

A README in isolation really only works for simple and small projects.

[2017-10-20 17:34] LappleApple commented on #28
Well, as the README of this project notes, I don't have capacity at the moment to take on documentation sets or wikis. So I think I'm good for now. Thanks!

[2017-10-20 17:34] #28 closed

[2017-10-20 19:30] TaylorShiells commented on #21
Hello @LappleApple and @Daenyth , I'm a technical writer whose new to GitHub and I'm hoping to do some work for FeedMeReadMes. I know a little about Cockatrice so I'd like to help here, do you have any advice on how to get started?

[2017-10-20 23:31] Daenyth commented on #21
Well, I'd read over the readme - it's written for two audiences; developers and users. Primarily the developers, since most users should end up on the website instead of the github page. If you can give feedback for clarity and usefulness to those audiences I'd appreciate it

[2017-10-22 14:36] LappleApple commented on #21
@TaylorShiells I'd check the project's contributor guidelines, then making an edit based on those. :)

[2017-10-22 14:38] LappleApple commented on #27
Thanks, @gunnarmorling. Will look ASAP!

[2017-10-22 19:54] deni opened #29 "Radera Victory"
Hey! I hope that I'm doing this right. We're not really free (beer), but I hope to get some help anyway. Saw Stephanie retweet it — awesome initiative.

https://github.com/radera/victory/blob/master/README.md

[2017-10-22 23:27] GantMan opened #30 "Feedback on README for Solidarity"
I've been doing READMEs for a long time, and the one thing I've learned is that it can **ALWAYS** get better.  I'm happy to hear and incorporate awesome feedback on my readme doc.

The project is planned to be officially released in about a week.
https://github.com/infinitered/solidarity

[2017-10-24 03:40] TaylorShiells commented on #21
I've taken a look at the project's readme and it's contributor guidelines and comparing them to the [FMRM Maturity Model](https://github.com/LappleApple/feedmereadmes/blob/master/README-maturity-model.md)

Here are a few observations I have:
1. The readme is currently lacking contributor guidelines and a style guide for the documentation itself. This is something that will encourage and direct fur

[2017-10-24 07:05] LappleApple commented on #21
Great comments, @TaylorShiells. Following the Maturity Model isn't mandatory for projects submitting to FMRM, it's only advisory. But great that you've read the model and are applying it. :)

[2017-10-26 14:59] tanepiper opened #32 "Takeoff Readme"
I've been trying to make the documentation for my project clear but would appreciate some feedback (especially as someone [commented the Readme wasn't good enough](https://www.reddit.com/r/programming/comments/75wldh/takeoff_rapid_prototype_environment/do9mp9p/?st=j98lflr6&sh=216bca7e)

https://github.com/takeoff-env/takeoff is the main repo (which also drives the documentation on https://takeoff.

[2017-10-26 15:20] janpio opened #34 "Results?"
Super interesting project.

I was hoping to see the before/after of some reviews somewhere, maybe links to issues or PRs created. Or to say it in the words of the maturity model:

😄

Did I miss it or doesn't this exist (yet)?

[2017-10-26 15:22] janpio commented on #16
If anyone is looking for the result as I did:
https://github.com/LappleApple/feedmereadmes/blob/master/Inspiration.md

Looking good!

[2017-10-26 15:24] janpio commented on #34
Found a linked PR in one of the issues: https://github.com/LappleApple/feedmereadmes/issues/10#issuecomment-315100479 Some others mention PRs, but no links.

[2017-10-26 20:22] TaylorShiells commented on #21
I made my first pull request, it's focused on establishing a style guide so there's a starting point for editors to hop on and work. I'll start communicating within the Cockatrice project itself from here out.

@LappleApple I would like to discuss that with you as something that should be in the Maturity Model, because I think there's a problem of writers/editors not knowing how to start.

[2017-10-26 22:13] williscool opened #37 "Feedback on the code_gym a computer science study space"
Figured why not ask.

Description

[code]

https://github.com/williscool/code_gym/blob/es6ify/README.md

https://github.com/williscool/code_gym/blob/es6ify/javascript/js_README.md

[2017-10-27 09:00] LappleApple commented on #34
A lot of times the reviews amount to comments/questions. But this is a good idea for standard edits.

[2017-10-27 09:03] LappleApple commented on #29
Thanks for the submission, @DSDeniso. Just tagged it for others to claim, or I'll get to it ASAP. :)

[2017-10-27 09:04] LappleApple commented on #30
Thanks, @GantMan -- I like your attitude. :) Just tagged it for someone else to claim, or I might get to it ASAP.

[2017-10-27 10:14] LappleApple opened #38 "Add link to "inspiration" page"
https://building.buildkite.com/we-did-a-week-entirely-dedicated-writing-and-you-should-do-one-too-5fbbae480a56

[2017-10-27 15:56] jadeallenx opened #40 "Please review the README for kerl"
Thank you for this project!

Our project helps people manage and install different versions of Erlang. I know our [README](https://github.com/kerl/kerl/blob/master/README.md) could use some editing and review.

[2017-10-27 16:14] chrissimpkins opened #41 "Hack typeface README feedback"
Thanks for offering this fantastic service Lauri and gang!

We would love input, critiques, and edits of our README page (and all other documentation in the project for that matter) for the Hack project and highly encourage participation in the project by any interested technical writers out there.  We are definitely open to contributions from those who have never contributed to open source projec

[2017-10-28 11:52] LappleApple commented on #32
Thank you for the submission, @tanepiper. Will get to this ASAP, if no one else does. :)

[2017-10-28 16:58] cloudify opened #43 "Italian Digital Citizenship APIs README"
Hi @LappleApple ,

one of the projects of the Italian [Digital Transformation Team](https://teamdigitale.governo.it/en/) is to build a set of API that will be used by government agencies as the foundation for their digital services.

We're currently working on the first iteration of these APIs that will provide:

* a communication interface for sending messages to citizens through several digital

[2017-10-29 03:49] ddncn commented on #30
Just took a quick read of the README and spotted a few (simple) things I could suggest. I’ll write it up and toss a PR your way. No guarantees I’ll catch everything though. :)

[2017-10-30 00:38] GantMan commented on #30
Thanks so much!  Love the changes!  Happy to get feedback from more, or feel free to close if you think we're 💯

[2017-10-30 08:30] LappleApple commented on #30
@ddncn Thank you for this contribution! @GantMan, should we close this issue out now?

[2017-10-30 08:55] LappleApple commented on #21
@TaylorShiells Hi! So I'm clear, you're suggesting that the MM should have a style guide?

[2017-10-30 14:11] Mte90 opened #44 "Feedback on WordPress Plugin Boilerplate Powered Readme"
This is my project that is used from different people but I am not sure how much is easy to understand the readme.
https://github.com/WPBP/WordPress-Plugin-Boilerplate-Powered

[2017-10-30 14:16] LappleApple commented on #25
Thanks!

[2017-10-30 14:16] #25 closed

[2017-10-30 14:42] GantMan commented on #30
Happily!  Thanks for such a remarkable service to the community!

[2017-10-30 14:46] #30 closed

[2017-10-30 14:58] LappleApple commented on #26
Hi @pdurbin: Finally had a chance to look. Seems like you've created a comprehensive set of docs for the project, so you might want to go light on the README but structure it a bit more with section headers and a quickstart. Take a look at this template and see if you think it makes sense to copy/paste parts of your docs into the README file, covering these bases at a very high level:

https://git

[2017-10-30 15:00] LappleApple commented on #13
Hi, I'm closing out this issue as it seems conversation can take place separately/between you.

[2017-10-30 15:00] #13 closed

[2017-10-30 17:49] scrthq commented on #22
@LappleApple thanks for the feedback and edits!!! Greatly appreciated!!!! Closing this out, you are awesome!

[2017-10-30 17:49] #22 closed

[2017-10-30 22:08] dlmurphy commented on #26
Dataverse documentation writer checking in here - Thanks for the feedback on our readme! The example you link is a great resource. It's helpful how it enumerates the various questions a good readme answers.

I agree that we don't want to make our README too heavy considering how comprehensive our docs are. I'm considering **bolding** key terms in our README to help draw the reader's eye to the bit

[2017-10-31 12:49] LappleApple commented on #37
Thanks for the submission--will get to this ASAP if nobody else does. :)

[2017-10-31 12:49] LappleApple commented on #40
Thanks for the submission--will get to this ASAP if nobody else does. :)

[2017-10-31 12:49] LappleApple commented on #41
Thanks for the submission--will get to this ASAP if nobody else does. :)

[2017-10-31 12:50] chrissimpkins commented on #41
Great!! thanks

[2017-10-31 12:51] LappleApple commented on #43
Hi -- I took a quick look and suggest making a dedicated docs page for this information, then keeping the README lightweight by using this template (https://github.com/zalando/zalando-howto-open-source/blob/master/READMEtemplate.md) or a similar one to cover high-level, basic info.

[2017-10-31 12:53] LappleApple commented on #44
Hi @Mte90: Thanks for your submission. I'm going to suggest that you check out this template (https://github.com/zalando/zalando-howto-open-source/blob/master/READMEtemplate.md) and others shared in this project repo and restructure your README to follow it/the template you find most useful. Then ping back to say "I'm ready." How does that sound?

[2017-10-31 12:53] #38 closed

[2017-10-31 22:56] Mte90 commented on #44
I made few improvements following that doc, but I hope to recheck again ASAP.

[2017-11-02 13:19] Mte90 commented on #44
Improved more the readme, done :-)
It is funny that I was already using many of the hints suggested, I am not after all a dev without experience in interesting Readme 😂

[2017-11-03 11:13] ItsPugle commented on #29
I feel as though the Installation part of Getting Started needs some more comments. Little observation :)

[2017-11-03 11:15] LappleApple commented on #29
@ItsPugle Thanks! Do you have specific requests or suggestions that could help prevent potential users from getting stuck?

[2017-11-03 11:16] ItsPugle commented on #29
Maybe it's worth expanding on what each command does?

[2017-11-03 16:22] cmariebeau commented on #29
Hi guys, I have a couple edits as well. I'll submit a PR. :-)

[2017-11-04 10:47] pdurbin commented on #26
@LappleApple thanks for taking a look! You seem to be saying the Dataverse README isn't bad but perhaps could use headings as in the Zalando template and maybe a quickstart. As @dlmurphy indicated, we might start just by putting a few phrases here and there in **bold**.

Yes, I'm into comprehensive documentation (but there's more we could do). Here's some of what I said in the talk I mentioned abo

[2017-11-04 10:53] LappleApple commented on #26
@pdurbin I use the same GitHub survey stat about docs in my talks. :)

[2017-11-15 21:51] cmariebeau commented on #29
Hi there, I submitted a pull request last week. Let me know if you have any questions.

[2017-11-15 22:00] LappleApple commented on #29
That's great, @cmariebeau :)

[2017-11-20 14:35] LappleApple opened #45 "add https://opensource.com/article/17/7/design-first-design-user"

[2017-11-20 14:47] LappleApple commented on #45
https://opensource.com/article/17/9/demystifying-open-source-product-strategy

[2017-11-23 00:54] tanepiper commented on #32
@LappleApple Hello there! I was wondering if anyone was going to get around to this?

I've completely re-written the Readme!  Taking some lessons from work I tried to write clearer docs.  Any feedback would be welcome, including any spelling mistakes that probably slipped through :)

[2017-12-10 16:43] VGraupera opened #46 "Please review this readme on resources for front-line engineering managers"
Would really welcome your advice on this readme! Thanks.

https://github.com/VGraupera/manager-resources

[2018-05-04 20:28] GantMan opened #48 "React State Management Blog Post"
Finishing up a blog post to go with this repo, I'd love to have some feedback:

https://github.com/GantMan/ReactStateMuseum

I will link to the blog post when it is published, of course!

[2018-06-10 19:36] pdurbin commented on #26
@LappleApple thanks again for the feedback. I don't see any reason to leave this issue open so I'm going to close it but I wanted to let you know that I'm still spreading the word about feedmereadmes such as at https://github.com/publiclab/plots2/issues/2793

[2018-06-10 19:36] #26 closed

[2018-07-19 11:34] ge-fa opened #50 "Please review docs about Schleuder and related projects"
Hi,

We would like to ask for a review of the docs of Schleuder, a GPG-enabled mailing list manager, and related projects:

- https://0xacab.org/schleuder/schleuder
- https://0xacab.org/schleuder/schleuder-cli
- https://0xacab.org/schleuder/schleuder-web
- https://0xacab.org/schleuder/schleuder-website

Thanks in advance, and for your work.

Cheers,
Georg

[2018-07-19 13:14] LappleApple commented on #50
Thanks for the submission. :)

[2018-08-09 12:38] #34 closed

[2018-10-20 12:07] naXa777 opened #52 "Please review readme of Android Sound Recorder"
Hi,

I would like to ask for a review of the readme of [SoundRecorder](https://github.com/naXa777/SoundRecorder), an Android application for audio recording written in Java. My goal is to create a simple and robust open source app.

Thanks in advance, and for your work.

[2018-10-20 12:13] naXa777 opened #53 "Please review"
Hi,

I would like to ask for a review of the multilanguage readmes of [Spring Cloud example](https://github.com/naXa777/spring-cloud-example), a hello-world app written entirely in Kotlin. This app is for demonstrating / learning Microservices architecture.
Thanks in advance for your work!

Cheers,
Paul

[2018-12-26 03:20] danyeaw opened #54 "Gaphas README"
Hi, I just spent a lot of effort completely revamping the README for [Gaphas](https://github.com/gaphor/gaphas). I would very much appreciate some feedback to help me further sharpen the why, how, and what, and of course any other feedback would be awesome as well. :heart:

[2019-05-01 22:11] janettech commented on #54
Hi @danyeaw, are you still looking for help on the README? I would be interested to look at it.
Thanks!

[2019-05-01 23:09] danyeaw commented on #54
@janettech I would ♥️ to have both the [Gaphas](https://github.com/gaphor/gaphas) and [Gaphor](https://github.com/gaphor/gaphor) READMEs reviewed, I really appreciate any feedback!

[2019-05-08 15:19] janettech commented on #54
I will. Thanks!

[2019-05-25 17:40] danyeaw commented on #54
Closed by https://github.com/gaphor/gaphas/pull/48. Thanks @janettech!

[2019-05-25 17:40] #54 closed

[2019-05-25 17:41] danyeaw opened #55 "Gaphor README"
Hi, I just spent a lot of effort completely revamping the README for [Gaphor](https://github.com/gaphor/gaphor). I would very much appreciate some feedback to help me further sharpen the why, how, and what, and of course any other feedback would be awesome as well. :heart:

[2019-06-23 23:18] WAUthethird opened #56 "Marble Marcher: Community Edition README review"
Hi! I manage the project for the community edition of a game, the upstream of which has stopped development. I'm a bit worried about the size of the README itself, even though the building process itself is quite complex and warrants the size. If you have any suggestions, it'd be much appreciated. Thanks!

[Link](https://github.com/WAUthethird/Marble-Marcher-Community-Edition/blob/master/README.md

[2019-07-27 06:29] shweta345 commented on #55
Hi Dany, Would you be interested in collaborating to create documentation for your software? If yes, please feel free to email me at shweta.shetye@gmail.com.

I am an experienced technical writer and have created documentation for multiple domains. I am new to open source documentation, but keen on getting started. I can help you create a wiki or a standalone website with how-to tutorials that can

[2019-08-16 12:28] kiishor opened #57 "Please review the minimalist uml-state-machine in c framework"
Hi,

This is my first open source project. I have written a lightweight UML state machine framework in C for embedded system developers. It would be really grateful if you review my project readme and suggest improvement.

https://github.com/kiishor/UML-State-Machine-in-C

Thanks in advance,
Nandkishor

[2020-03-17 20:58] yugoPanorama commented on #57
Hi @kiishor !  Are you still looking for feedback on your README?

[2020-03-17 20:59] yugoPanorama commented on #56
Hi @WAUthethird !  Are you still looking for feedback on your README?

[2020-03-17 21:00] yugoPanorama commented on #55
Hi @danyeaw !  Are you still looking for feedback on your README?

[2020-03-17 21:00] yugoPanorama commented on #52
Hi @naXa777 !  Are you still looking for feedback on your README?

[2020-03-17 21:44] WAUthethird commented on #56
Yes @yugoPanorama! That'd be great.

[2020-03-17 23:32] danyeaw commented on #55
@yugoPanorama Yes, we would love some help!

[2020-03-18 04:19] kiishor commented on #57
Yes, it would be helpful.

[2020-03-20 13:29] naXa777 commented on #52
Hi @yugoPanorama! yes, I'm interested in feedback

[2020-04-07 20:42] coder2000 opened #58 "Review README for Ubiety.Dns.Core"
Thank you for the work you guys do to help the community make everything better. I would like some assistance with the README I have for one of my projects. Please take a look at https://github.com/ubiety/Ubiety.Dns.Core#readme

[2020-04-21 04:04] rimutaka commented on #58
https://dns.ubiety.ca is dead.

It's not clear what your library does. It's not even clear if it is a library or an app. The docs are just placeholders.

Contributing section seems to be a copy-paste from a template. It doesn't make much sense.

Drop "You can also use your favorite NuGet client.". Anyone with a favourite Nuget client already knows that.

Clone the repository and then restore the d

[2020-07-12 11:04] gaganis opened #59 "Review README of gaganis/daily-runner"
I have created a new project which I have published on GH. I would appreciate your feedback on the [README](https://github.com/gaganis/daily-runner/blob/main/README.md)

Thanks!

[2020-08-09 13:39] Ruben2776 opened #60 "Review README of PicView"
Hi there, thanks for taking a look!

I would love some feedback on my README for my own project.
https://github.com/Ruben2776/PicView

[2020-08-29 19:26] danyeaw commented on #55
We are still looking for some help reviewing our README 😄

[2020-08-31 16:32] thoppe opened #61 "Review README of instafilter"
Hi! This is such a great idea! If anyone would like to review my project, I'd appreciate it:

https://github.com/thoppe/instafilter

[2020-09-25 15:30] danobot opened #62 "Please review my projects README"
I put some effort into this today but am not the best at the marketing side of it and to mk eit appealing.

https://github.com/danobot/notorious/blob/develop/README.md

[2021-04-06 04:22] SiddharthShyniben commented on #62
@danobot It looks awesome. You might want to find a better way to caption images, but it looks great!

[2021-04-06 05:49] #62 closed

[2021-09-20 14:12] #56 closed

[2022-05-24 15:05] FormulaCarbon opened #63 "Review README of Pythings-Python-Module"
Thanks for making this!

here is the link to the repo. There is a seperate contributing.md in it.

https://github.com/FormulaCarbon/pythings-Python-Module

[2022-07-18 03:04] #29 closed

[2022-08-26 13:10] #44 closed